[2016-04-18 18:12] bryanburgers opened #1 "Git workshop"
Another git workshop
## Things we need to make this talk happen
- [x] Speaker: @weierophinney @sclarson
- [x] Venue: Blend
- [x] Date: May 3, 2016
- [x] Get summary text from speaker
- [x] Create meetup.com event

[2016-04-18 18:13] bryanburgers opened #2 "Rust"
I would love to learn about Rust.

Some thing that could be covered in a talk about this
- What's going on here?
- Why is it so popular all of a sudden?
- How is it better than my favorite language?

[2016-04-18 18:14] bryanburgers opened #3 "Go"
I would love to learn about Go, the programming language.

Some thing that could be covered in a talk about this
- What's going on here?
- Why is it so popular all of a sudden?
- How is it better than my favorite language?

[2016-04-18 18:14] bryanburgers opened #4 "Writing Safer Code with Swift"
I would love to learn about Swift.

Some thing that could be covered in a talk about this
- What's going on here?
- Why is it so popular all of a sudden?
- How is it better than my favorite language?
- Is Apple really being open about it?
## Things we need to make this talk happen
- [x] Speaker: @Gagege
- [x] Venue: Raven Training Center
- [x] Date: June 7, 2016
- [x] Get summary text from speaker

[2016-04-18 18:19] bryanburgers opened #5 "Language Lightning Talks"
An idea: we could have a new language lightning talk night that would have 3 or 4 people talk quickly about 3 or 4 new languages.

Could include #2, #3, #4, and others.

[2016-04-18 18:31] jxn commented on #2
I know only enough to cause headaches, but know fair answers those questions, as well as:
- Why is it worse than my favorite language?
- What is it good / not good for?
- How mature is it (in general, in area x,y,x)?

However, I can't answer the highly technical questions.  I saw Dan Callahan from Mozilla talk about it at TCCC, and it was a good talk.  We should see if he'd be willing to show up h

[2016-04-18 18:33] bryanburgers commented on #2
I think @sclarson was thinking the same thing. Are one of you two on familiar terms that you can reach out to him?

[2016-04-18 18:38] jxn opened #6 "WebAssembly intro"
I would love to learn about WebAssembly.

Some thing that could be covered in a talk about this
- What's webassembly
- How does it relate to asm.js and other projects?
- Can I use it now?
- How big of a deal is it?
- Does it harm reverse-engineerability of the web?
- Does this mean client-side scripting is going to get harder?

[2016-04-18 21:52] sclarson opened #7 "Clojure"
I wish somebody would give a talk about that.

Going to reach out to the element 84 people about this. Tried before but I think email rules killed me.

[2016-04-18 21:56] bryanburgers commented on #5
Could also include #7.

[2016-04-18 21:57] sclarson opened #8 "Deployment discussion or lightning talks."
Get a group of people involved with deployments where they work and talk about how code gets from commit to customer facing including any problems they had or are having. And discuss potential solutions.

[2016-04-19 04:16] sclarson commented on #2
I'll reach out to him once I start at DT and can set that up as a venue.

[2016-04-19 13:42] danitornow commented on #7
@sclarson -- I work at EROS still and Jon Morton & Duncan McAllister are both still out here. Want me to get a hold of them? Alternatively, I can provide you their work emails.

[2016-04-19 13:48] harmstyler commented on #1
@sclarson Blend can host this one on May 3.

[2016-04-19 15:48] sclarson commented on #1
@weierophinney tentatively confirmed being able to make it.

You can steal summary text from the previous one.

[2016-04-19 15:59] sclarson opened #9 "Dev Beers"
Kind of speaks for itself.

[2016-04-23 12:39] bryanburgers opened #10 "Docker"
I would love to learn about development and deployment using Docker.

Some things that could be covered in a talk about this
- How to get started
- What to do if your app depends on multiple different things
- Are there alternatives
- How to scale out using Docker
- Things to watch out for

[2016-04-25 11:54] bryanburgers commented on #1
@sclarson @weierophinney @harmstyler Meetup event created. http://www.meetup.com/sfdevs/events/230630203/

[2016-04-25 14:04] #1 closed, assigned to nobody

[2016-04-26 04:30] ryanjkelly opened #11 "Mocha"
I would love to learn about the Mocha testing framework.

Some things that could be covered:
- setup/installation
- assertion libraries
- test writing best practices
- running tests with Karma

[2016-04-29 11:49] bryanburgers commented on #2
@sclarson Are you in a position to reach out to Mr Callahan now?

[2016-04-29 11:52] bryanburgers opened #12 "Distributed databases"
I would love to learn about distributed databases.

Some things that could be covered in a talk about this
- The CAP Theorem
- Examples of some of the best ones
- How using a distributed database affects application design and architecture
- What to expect
- Issues to watch out for
- Read only applications when using a slave database?

[2016-05-06 14:06] Gagege commented on #4
I've been using Swift and Kotlin (simultanious iOS and Android development) for the past year. They are very similar languages. I've also been using C# for server-side stuff at the same time. On the surface, Swift and C# look similar, but the differences between them are pretty stark. There's a lot to talk about there.

If someone has more experience than I do with Swift, I'd love to hear a talk f

[2016-05-07 00:11] bryanburgers commented on #4
Frankly, this sounds fascinating and I would kind of love to hear all about it. Do you think you could talk about all of that stuff in June or July?

[2016-05-07 16:53] Gagege commented on #4
That sounds good. I'll be around on SF Devs Slack in the mean time (I'm dactou). Do you know about how many minutes I should plan on having?

[2016-05-09 14:22] charwood commented on #4
I'm not adept in any of those languages but that sounds like a great talk that I'd attend the heck out of.  I think others at Zuercher would be interested as well.  Thanks for volunteering, Gage.

[2016-05-09 16:41] bryanburgers commented on #4
@Gagege Typically 45–60 minutes, but as short as 30 or as long as 90 are OK.

[2016-05-10 14:40] bryanburgers commented on #4
@Gagege Can you provide a title and a short summary of your talk, so we can promote it? Good examples would be http://www.meetup.com/sfdevs/events/227140442/ and http://www.meetup.com/sfdevs/events/225072098/.

[2016-05-11 13:44] Gagege commented on #4
Is that kind of what you were thinking? If you'd rather, I can make it more Swift-y and dive in deep into that language by itself.

[2016-05-11 18:27] sclarson commented on #1
https://services.github.com/kit/downloads/github-git-cheat-sheet.pdf

[2016-05-11 18:32] sclarson commented on #4
I'd personally be more interested in just swift. Not opposed to also doing something on Kotlin at a later date.

[2016-05-13 13:41] bryanburgers commented on #4
Meetup event created: http://www.meetup.com/sfdevs/events/231096032/

[2016-05-13 15:07] Gagege commented on #4
I've decided to refocus the topic. I think the original topic was too broad. What I'd really like to do is explain the real reasons why _I_ use Swift, instead of say, Objective-C or Javascript, for mobile development. In the future I could do a "Writing Safer Code with Kotlin" talk, if there's any interest.

So, here's my new title and description:

# Writing Safer Code with Swift

A lot of the la

[2016-05-13 15:18] bryanburgers commented on #4
I updated the meetup event.

[2016-06-07 23:34] #4 closed, assigned to nobody

[2016-06-08 11:06] Gagege commented on #12
I'm interested in hearing about this.

[2016-06-08 19:18] bryanburgers opened #13 "Progressive Web Apps"
I would love to learn about Progressive Web Apps.

Some things that could be covered in a talk about this
- What are Progressive Web Apps
- Service Workers
- Push notifications
- Offline modes
- Compatibility
- How various browsers handle the "Install as an App" part
- What to do about browsers that don't support some of the features

[2016-06-23 12:24] bryanburgers opened #14 "Android with David Seruyange"
Something Android-y...
- [x] Speaker: @t3rse
- [x] Venue: [Blend](https://goo.gl/maps/E9fCznwZadK2)
- [x] Date: July 12, 2016
- [x] Get summary text from speaker
- [x] Create meetup.com event

[2016-06-23 13:41] jxn commented on #14
:+1:

[2016-07-09 12:54] bryanburgers opened #15 "Mentoring"
I would love to learn about mentoring. I wish somebody (@jxn) would give a talk about that.

Some things that could be covered in a talk about this
- How it usually works
- Tips for being an effective mentor
- How to get the most out of it as a mentee
- How often do you meet?
- What's an effective structure?

[2016-07-11 14:53] jxn commented on #15
I'm open to doing this, though I'm not sure if I can keep people engaged for a whole session.  It might be more worth a split session or even lightening talk unless you want me to tell stories.

I'm also not confident that I am the most qualified.  In truth, I've done code-mentoring once as a mentor, once as a mentee, and I've also participated in a few failed attempts at mentoring (which, frankly

[2016-07-11 14:57] jxn commented on #15
Off-hand, here are a few thoughts on what I think a talk might cover:
- finding a mentor / mentee
- evaluating a mentor/mentee fit
- setting expectations
- schedule / topic tips
- knowing when to quit
- evaluation strategies

[2016-07-20 18:45] #14 closed, assigned to nobody

[2016-10-03 16:03] Gagege opened #16 "React Native"
I've been using [React Native](http://facebook.github.io/react-native/) on and off for the past year. Now I'm pretty much doing it full time. I'd be interested in presenting it at the end of November or later. It's a great cross-platform framework that I think mobile developers would be interested in.

[2016-10-03 16:13] jxn commented on #16
👍 I dig it.  November is CodeCamp month, so I'm not sure that we'll have a meet up (if you want to try giving this at CodeCamp there may still be time).  Otherwise, perhaps late november or early december?

[2016-10-03 16:20] weierophinney commented on #16
I think December would be fantastic; could even have a get-together afterwards as a sort of holiday party.

[2016-10-03 16:29] Gagege commented on #16
@jxn Yeah, December would be best for me, too. I'm going to be really busy at the beginning of November and will probably need a break!

[2016-11-01 18:00] jxn commented on #16
@Gagege are you still up for doing this in December?  Maybe the 1st or 2nd Tuesday?

[2016-11-04 18:35] Gagege commented on #16
@jxn Did you get my reply via email? It's not showing up here for some reason.

Anyway, yes. Still on for the 2nd Tuesday.

[2017-04-19 15:38] dblackker commented on #13
I'm interested in talking about this.

[2017-04-19 15:41] aligneddev commented on #13
I'm interested in learning and hearing more about this!

[2017-04-19 15:58] zedfoxus commented on #13
I'm very interested and hope I can make it to this session. I'd vote for you to talk about it, @bryanburgers

[2017-04-19 16:07] bryanburgers commented on #13
Having never written a PWA, I'm definitely OK with allowing @dblackker to take this one.

[2017-04-19 16:56] harmstyler commented on #13
Blend could host, but lately we've been at capacity when Blend is hosting. @sclarson / @bryanburgers / @Kwen any idea if Raven could act as Venue?

[2017-04-19 17:46] zedfoxus commented on #13
Sorry @dblackker, I missed your comment prior to recommending Bryan to speak. Would love to hear you speak, and thanks for volunteering!

[2017-04-19 18:19] jxn commented on #13
@dblackker If you'd be ready, I'd suggest we try to do this on May 23 or May 30.  If you have another preferred date in mind, yell.  As @harmstyler said, Blend would host, but we'd probably prefer a larger venue if we can get one.  Blend _might_ also be able to host at the Design Center, but it's still a little cramped there.

[2017-04-19 18:43] Kwen commented on #13
Raven should be able to host, assuming @bryanburgers / @sclarson / @daniames  will be around to turn off the lights and lock up. (I'm coaching my son's baseball team on Tuesdays all of May/June.)

[2017-04-19 18:52] danitornow commented on #13
I can definitely stay and lock up! :100:

[2017-04-20 20:05] sclarson commented on #13
I should also be available either of those days for opening/lockup
purposes.

On Wed, Apr 19, 2017 at 1:52 PM, Dani <notifications@github.com> wrote:

[2017-04-21 14:54] dblackker commented on #13
@jxn I can be ready for the 23rd / 30th, those dates work for me.

[2017-04-21 15:00] Kwen commented on #13
Raven Training Center is free on the 30th. There's an "all-day" event on the 23rd that I'm assuming really only runs from 8-5, but I'd have to double-check that.

[2017-04-21 15:01] harmstyler commented on #13
30th then? just to play it safe?

[2017-04-21 15:23] Kwen commented on #13
Ok, Raven Training Center is reserved for the 30th. (I should be able to get approval for food/pop again.)

[2017-04-21 15:33] sclarson opened #17 "Expressive"
@weierophinney and I briefly discussed getting together to talk about the expressive php framework he's been working  on lately.

This should appeal to anyone working on web APIs.  The interesting parts of these(to me) tend to be the abstractions chosen and tools provided so whether or not use you PHP you should consider coming :)

@weierophinney Would June 13th/20th/27th that would work for you?

[2017-04-21 15:36] sclarson commented on #6
We did this Sept 2016 and never updated this :)

[2017-04-21 15:36] #6 closed, assigned to nobody

[2017-04-21 15:37] harmstyler commented on #13
@jxn will create the meetup event when event details are in hand.

[2017-04-21 15:42] sclarson commented on #10
Seems like a good umbrella issue.

I can see breaking this down into:
* Basic dev environments intro
* Basic production deployment intro
* How amazing kubernetes and/or mesos are

I'll consider this ticket for a general overview and dev environments talk.

@robertjacobson when would you want to do this?  We have as soon as May 9th or possibly mid July as the next likely candidates (unless we want

[2017-04-21 15:46] sclarson commented on #16
Still using react native a lot @Gagege or more on Kotlin these days?  I'd be interested in doing a follow up on the former or something new on the latter in the coming months if you're interested.

[2017-04-21 20:32] dellintosh commented on #10
We've been using Docker for the past 8+ months in my current position.  I'd be willing to share if you guys are still looking for a speaker... (Unless you are volunteering, @sclarson).

I could cover:

* Local Development with Docker (and getting a non-Docker app into Docker)
* `docker-compose` and some of the goodies it provides
* CI / CD implementations using Docker
* Marathon-Mesos (we're runni

[2017-04-21 20:42] zedfoxus commented on #10
We have similar docker setup at work minus Mesos, @dellintosh. Would love to hear about your setup and benefits your team observed in a meetup or invite you over at work.

[2017-04-21 20:50] sclarson commented on #10
@dellintosh We'll see if @robertjacobson wants to do the development side of docker at all or not.  I really think it is a deep enough tool that it could use a 100 level intro for people mildly interested.

I'd definitely be interested in your experiences doing CI/CD and running docker on Mesos.  I've been somewhat strongly considering a Mesos cluster in AWS for Kafka with some docker consumers ru

[2017-04-21 22:36] robertjacobson commented on #10
I can cover the docker in dev and/or docker-compose. As for May or July, I'm open to either.

@dellintosh I'd be interested in hearing more about your CI/CD implementations as well as Mesos, my experience with them is rather limited.

@sclarson I use `docker-compose` heavily in dev and 'home-prod', but won't touch on it much for a 100 level talk. I agree the topic's deep enough, that we could like

[2017-04-22 16:00] sclarson opened #18 "Docker - 100 level intro"
I would love to learn about Docker.

Some things that could be covered in a talk about this
- What Docker is in different contexts ( Linux, Unix, ...maybe Windows)
- Using docker-compose to build development environments
- What kinds of things are sped up by Docker.

@robertjacobson you could probably get a great idea of scope based on @bphogan's Docker Dev Environments talk but you're skipping TC

[2017-04-22 16:40] robertjacobson commented on #18
XD that was my plan. I'll look forward to the slides being published.

[2017-04-22 18:22] Gagege commented on #16
I haven't been keeping up with React Native at all since January. But, I'd be happy to talk about Kotlin (and Android maybe?) since that's been my only focus for the past few months.

[2017-04-28 21:51] sclarson commented on #13
@dblackker Have a title/abstract you want for this or should I have @jxn make one up when he posts it? :)

[2017-05-01 14:39] dblackker commented on #13
@sclarson I just sent him some info 👍

[2017-05-01 15:19] jxn commented on #13
The event is up; announcement to follow.  https://www.meetup.com/sfdevs/events/239637490/

[2017-05-01 15:28] harmstyler commented on #13
Confirmed the meetup is available. Closing this issue.

[2017-05-01 15:28] #13 closed, assigned to jxn

[2017-06-06 14:48] rwat commented on #7
Fwiw, I've been doing some clojure dev for years and could present on clojure either by itself or as part of a lightning talk.

[2017-06-16 02:36] dellintosh commented on #8
@sclarson I'd be willing to cover deployments w/ Docker (via #10)... we've had superb luck with it over the past year.

[2017-06-16 02:38] dellintosh commented on #10
@sclarson I'll be attending the Meetup at the end of this month; if you guys want more (including deployments and Mesos) I can certainly cover those topics at an upcoming meetup... ;)

[2017-06-16 15:34] aligneddev opened #19 "GraphQL"
I would love to learn about GraphQL. I've been hearing about it onhttps://www.netlify.com/blog/2017/05/11/staying-cool-with-graphcool/ and other articles. It looks like it can be very useful.

http://graphql.org

Some things that could be covered in a talk about this
- What it is
- How it's better than rest
- Backend implementation (.Net https://github.com/graphql-dotnet/graphql-dotnet/issues/338,

[2017-07-06 14:39] sclarson commented on #10
@dellintosh Want to figure out a tuesday in July that works?  Something specific on Mesos and then we can follow up another month and maybe just have a few of us talk about the different ways we do builds/releases.

[2017-07-14 19:17] dellintosh commented on #10
@sclarson How about July 24th?  This month is quickly getting away from me and that would work on my schedule... how is it for you guys?

[2017-07-15 18:30] sclarson commented on #10
Out the 24th but could possibly make the 25th work. Otherwise we could just
go first tues in August.

On Fri, Jul 14, 2017 at 2:17 PM Justus Luthy (Boatright) <
notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-07-24 18:49] bryanburgers commented on #19
Potential advanced topic: strategies to prevent `n+1` queries when building a GraphQL endpoint.

[2017-07-24 18:53] bryanburgers opened #20 "Infrastructure as Code / Terraform"
I would like to _*give*_ a talk on [Infrastructure as Code][iac], and specifically using [Terraform][tf] to maintain cloud infrastructure.

Some things that could be covered in a talk about this
- Pros/Cons over manually creating infrastructure
- Treating infrastructure-as-code as your infrastructure documentation, instead of maintaining documentation that may get out of date
- Version-controlled

[2017-08-21 14:12] #18 closed, assigned to robertjacobson

[2018-01-11 15:12] dblackker opened #21 "Blockchain - Explanation and application"
I would love to talk about blockchain technology.

Some things that could be covered in a talk about this
- What is blockchain technology?
- How does it work and what applications exist?
- As a developer, how do I get started implementing my own blockchain?

Blockchain, the underlying technology in cryptocurrency is all the hype right now with some cryptocurrency values skyrocketing over 1500% las

[2018-01-11 16:34] dellintosh commented on #21
Great big 👍 !

[2018-01-11 17:07] dblackker commented on #21
Possibility that Carsforsale.com could host. I'll find out more today.

[2018-01-15 15:54] DanielleAmes commented on #20
@bryanburgers I want to hear this talk still. Please? 😸

[2018-01-16 16:27] dblackker commented on #21
@bryanburgers - Is Jan 30th too soon as far as notice goes? I confirmed that Carsforsale can host.

[2018-01-16 18:22] harmstyler commented on #21
@sclarson can you create the meetup.com event?
@dblackker can you get us a summary, or are you good with the summary provided in this issue?

[2018-01-16 20:14] dblackker commented on #21
That summary is OK, tweak as you see fit.

[2018-01-17 20:05] sclarson commented on #21
@dblackker https://www.meetup.com/sfdevs/events/246909966/

Do those details look correct?

[2018-02-05 20:38] #21 closed, assigned to nobody

[2018-02-15 14:29] dan-akkerman opened #22 "Mesos/Marathon"
I would love to learn about... I wish somebody would give a talk about that.

Some things that could be covered in a talk about this
- A brief introduction of the presenters, the company they represent, and an overview of the presentation
- Use of Apache Mesos to manage a computer cluster, and its counterpart Marathon, which is a container orchestrator
- An overview of the capabilities of both to

[2018-02-15 14:33] bryanburgers commented on #22
That's a very specific outline! Would you also like to **give** this talk? Because that would be awesome.

[2018-02-16 15:17] Kwen commented on #22
I've got the Raven Training Center reserved for March 6th, so we are covered on venue & date.

[2018-02-16 16:23] dan-akkerman commented on #22
Sounds good -- thanks for setting this up.

Dan

Sent from BlueMail<http://www.bluemail.me/r?b=12095>
On Feb 16, 2018, at 9:17 AM, Kwen <notifications@github.com<mailto:notifications@github.com>> wrote:

I've got the Raven Training Center reserved for March 6th, so we are covered on venue & date.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Gi

[2018-10-29 00:05] hrkeni opened #23 "Halite AI Programming Challenge"
Halite is an annual programming challenge where you write code to instruct bots to play a resource management game. It is competitive and the challenge ends in January 2019. Your bot gets continuously matched up against other players and is scored based on performance. Read more [here](https://halite.io/).

I plan on using this talk as a workshop to get started with this game, introduce programmin

[2019-04-24 13:50] aligneddev opened #24 "Getting Started with Unit Testing Workshop"
I've done an hour or so long workshop a few times at Omnitech. I'd like to share it with the group.

https://www.aligneddev.net/blog/2019/getting-started-with-unit-testing-basic-workshop-version/

Some things that could be covered in a talk about this
- a short talk about Unit testing in general, get some conversation going
- hands-on keyboard, follow along, how to get started with C# MVC Api unit

[2019-04-27 15:08] harmstyler commented on #24
@aligneddev can you get us some dates that would work best for you? I'm assuming you're thinking May 21, 2019 or May 28, 2019?

[2019-04-27 16:18] aligneddev commented on #24
May 22nd actually works better for me. Seth mentioned having it at Raven. I
like the setup there, if that works.

On Sat, Apr 27, 2019, 10:08 AM Tyler Harms <notifications@github.com> wrote:

[2019-04-27 17:13] harmstyler commented on #24
@aligneddev can you get @sclarson a summary for the meetup event?
@sclarson or @Kwen can you secure the location for May 22?

Current details:
Title: Getting Started with Unit Testing Workshop
Date: Wed May 22, 2019
Venue: Raven Training Center

[2019-04-29 17:06] aligneddev commented on #24
I'll send info to @sclarson . Thanks @harmstyler

[2019-05-14 20:59] jxn commented on #24
Meetup 1 of 2 is active and scheduled for May 22nd, but I'm going to leave this open until we create the 2nd event and "Announce" both.

[2019-05-14 21:04] aligneddev commented on #24
Thanks! I hope we have a good turn out.

On Tue, May 14, 2019 at 4:00 PM jxn <notifications@github.com> wrote:

--
"He [Jesus] is the radiance of the glory of God and the exact imprint of
his nature, and he upholds the universe by the word of his power." Hebrews
1:3
http://www.youtube.com/watch?v=KGlx11BxF24

[2019-05-30 15:53] jxn commented on #24
Done.  The combined two talks were a great success, I think.

[2019-05-30 15:53] #24 closed, assigned to sclarson, jxn, Kwen

[2019-05-30 15:54] jxn commented on #20
@bryanburgers any interest in giving this talk still?

[2019-05-30 15:56] bryanburgers commented on #20
@jxn Ooof, I guess I haven't done much of that in the past 10 months. But I still might be able to prepare something.

[2019-05-30 18:26] #22 closed, assigned to nobody

[2019-06-23 22:26] harmstyler commented on #16
Looks like we forgot to close this one. https://www.meetup.com/sfdevs/events/235767551/

[2019-06-23 22:26] #16 closed, assigned to nobody

[2019-07-01 16:50] bkegley commented on #19
I'd love to give an overview of GraphQL! I've been using it to manage internal operations at Coffea for about a year and have grown to be a pretty big proponent of it.

All of my implementation is in JavaScript (Node and React) but an overview would transcend any specific language implementation.

I don't think Coffea would have a space that would allow us to host so we'd have to find another venu

[2019-07-01 16:58] harmstyler commented on #19
@bkegley that sounds great. Could you write up an abstract (a paragraph or two) and add it as a comment here? After that we'll find a date/venue that will work for everyone.

[2019-07-01 18:21] aligneddev commented on #19
Thanks for volunteering! I've been wanting to learn more about GraphQL and have read some. Would you be able to talk about the server side of things too? I think I have a grasp on the client side, but how the server stitches things together is still a mystery to me.

[2019-07-01 18:45] Kwen commented on #19
Great topic. I'll take care of getting Raven reserved to host it. @bkegley is there a Tuesday night in July (or August) that would work best for you, schedule-wise? (Training Center is already in use July 16th & August 13th. Any other Tuesday in July/August we can get it.)

[2019-07-02 01:17] bkegley commented on #19
*Abstract*
GraphQL is growing rapidly in popularity as an alternative to REST. But, what is GraphQL and what differentiates it from REST? What benefits does it offer for both the user and developer?

Over the course of the talk we'll be diving into the world of GraphQL covering advantages and difficulties of developing a GraphQL API. From a starting point of defining new vocabulary in use with Gra

[2019-07-02 14:19] harmstyler commented on #19
@Kwen, I'm not listed as an organizer on meetup.com, so I can't create the event. Are you able to?

[2019-07-02 14:48] Kwen commented on #19
Posted it. https://www.meetup.com/sfdevs/events/262809318/ @bkegley take a look and let me know if you want any tweaks made. Once I get the thumbs up, I'll announce it.

[2019-07-03 14:43] Kwen commented on #19
@bkegley What's your meetup profile, so I can make you presenter before I announce it?

[2019-07-03 14:44] Kwen commented on #19
Nevermind! Found ya.

[2019-07-03 14:47] Kwen commented on #19
Announcement sent.

[2019-07-03 15:53] bkegley commented on #19
Looks great! Thanks for putting it together

[2019-07-30 13:27] #19 closed, assigned to Kwen

[2019-08-27 15:13] dmikey opened #25 "Introduction to NodeJS, and N|Solid the NodeJS Runtime"
I would like to come give a presentation that would like be the first is a series of presentations and workshops around NodeJS.

This talk will be introductory as a whole to NodeJS.

* What it is
* How it works
* What we can use it for

And then we'll pivot to introduce N|Solid (disclaimer I work for NodeSource, the company behind N|Solid)

* What is N|Solid
* Why we want it
* How it works
* How d

[2019-08-27 15:36] bryanburgers commented on #25
@dmikey Awesome! It looks like you're located in San Jose. This is a meetup that occurs in Sioux Falls, South Dakota (not San Francisco). Are you volunteering to come to (the other) SF to give this talk?

[2019-08-27 16:11] dmikey commented on #25
@bryanburgers my bad! I need to update that, I've since relocated to Yankton! I'll be driving up :)

[2019-08-27 16:55] bryanburgers commented on #25
@dmikey Well great to hear! I just wanted to verify that it wasn't a case of mistaken location before we invest time into getting everything set up.

[2019-08-28 14:10] harmstyler commented on #25
@dmikey thanks for the talk submission. Would some time in mid-September fit your schedule?

[2019-09-17 16:25] dmikey commented on #25
Sorry folks had some things mess up this month, Nodesource liquidated, so I wont be covering those portions :) but can still do some awesome NodeJS stuff. Totally available!

[2019-11-19 19:18] harmstyler commented on #25
closing this as the intro talk was given at Code Camp.
@dmikey we'd love to have you back in Sioux Falls again, so if you ever want to give another talk, hit us up!

[2019-11-19 19:18] #25 closed, assigned to Kwen

[2019-11-19 20:18] hrkeni opened #26 "[PROPOSAL]: Fundamentals of networking for web developers"
**Title**: Fundamentals of networking for web developers

**Description**
We have all used the internet. Some of us might even have written code for a web site. Now let's demystify how it all works. Things to be covered:
- Basics of networking and networking tools
- How do domain names and addresses work
- Network structure and topology
- Protocols, layers, and packets
- Network factors affecting

[2019-11-19 20:50] harmstyler commented on #26
Shooting for Feb 11, 2020 at CarsForSale

[2020-04-15 00:34] #26 closed, assigned to jxn, harmstyler, Kwen

[2020-04-15 00:35] harmstyler commented on #26
@hrkeni can we get a copy of the video from the event?

[2021-03-03 21:27] hipplej opened #27 "[PROPOSAL]: React + TypeScript at Prismatic"
**Title**: React + TypeScript at Prismatic

**Description**
We use React and TypeScript quite heavily at Prismatic. We've got a fairly large and non-trivial application running in production, and we're constantly adding new features, fixing bugs, and refactoring old designs. In this talk we'll explore some of the ways that using React with TypeScript has made this a productive and enjoyable experi

[2021-03-03 21:33] aligneddev commented on #27
this sounds really good to me. Especially with the experience and non-trivial parts.
I realized that I know Adrian, but haven't seen him for a year. :-)

[2021-03-03 21:36] harmstyler commented on #27
Zoom would work fine. No need for a venue.

We generally schedule a month out, but it's been a while since our last meetup, so we'll probably make any time work.

[2021-03-04 15:03] awayken commented on #27
I'm not exactly sure how this process works. Are you looking for people to chime in times that work for them?

[2021-03-04 15:05] harmstyler commented on #27
Mostly, we want the speaker to have a say in scheduling.

[2021-03-04 15:18] awayken commented on #27
Yeah, that actually makes sense. Let's go with that.

[2021-03-12 16:21] harmstyler commented on #27
Event is live. Prismatic is using their Zoom account. Think we're good here.

[2021-03-12 16:21] #27 closed, assigned to harmstyler, Kwen

[2021-08-19 18:08] #10 closed, assigned to nobody

[2021-08-19 18:08] harmstyler commented on #10
Looks like this already happened, but we missed closing the issue.

[2021-08-20 13:57] tlarnold10 opened #28 "Docker and/or Kubernetes"
**Subject:** Docker and/or Kubernetes

TODO: ACTUAL DESCRIPTION NEEDED

I would love to learn about Docker and Kubernetes. I wish somebody would give a talk about that.

Some things that could be covered in a talk about this
- Differences between Docker and Kubernetes.
- Moving current environment to Docker.
- Multi-cloud Kubernetes clusters
- Microservices in Kubernetes

----

- [x]  Speaker: @ar

[2021-08-20 14:09] taylorreece commented on #28
I'd be glad to present on what I learned when I was consulting and rolling out a mutli-cloud service mesh using https://istio.io/ on top of Kubernetes.  I'm wrangling two kids under 4 right now, but will do my best to get a presentation together and give everyone a couple week's heads' up before presenting.

Maybe we could do a lunch-and-learn thing online one day?

[2021-08-20 14:35] aligneddev commented on #28
Great idea @tlarnold10. Thanks for being willing to share, @taylorreece . I'm looking forward to hearing this. The lunch-and-learn style worked well the last time with Adrian and Typescript

[2021-08-20 17:17] paulbenjamin3409 commented on #28
Agree with @aligneddev, I would love to see this presentation as well.

[2021-08-21 11:49] tlarnold10 commented on #28
Sounds great, looking forward to it!

[2021-11-16 21:19] harmstyler commented on #28
@taylorreece any chance you've made progress on this?

[2021-11-16 21:22] taylorreece commented on #28
@harmstyler I've not :-(. It's definitely something I want to do one of these days, but kids and work have been eating most of my free time.

[2022-02-18 19:24] tlarnold10 commented on #28
@taylorreece classic kids and work... always weighing people down...

[2022-04-20 15:39] aligneddev commented on #5
this is an old issue, but I've been able to use F# lately. I was even thinking of giving an Introduction to F# for sfdevs later this summer

[2022-04-20 15:40] jowtow opened #29 "What's new in .NET 6 and what's coming in .NET 7"
**Title**: What's new in .NET 6 and what's coming in .NET 7

**Description**
This would be a discussion on the new features/changes in .NET 6 as well as a larger discussion on the state of the .NET ecosystem and what to expect in .NET 7. I've recently written a few blog posts for Omnitech regarding these topics and our team has been discussing, learning, and using .NET 6 since its release last Nov

[2022-04-20 15:46] jxn commented on #29
@JohnWTownsend just to be clear, if we had another venue sooner, would you be interested in that, or do you prefer Omnitech and just prefer to wait for construction to finish?  I'm also a _bit_ wary of construction ever finishing on time, so my vote is to leave a little buffer if you want to use Omnitech for sure.  I'm not _proposing_ another venue as I don't know which we would target, but just a

[2022-04-20 15:57] jowtow commented on #29
I hear you on the construction timing concern. I think for now I'd want to aim at utilizing Omnitech's new space. There may be other topics brewing from some other folks at Omnitech as well... If more topics come up, we could look at doing this talk sooner with a different venue and breaking in the new conference room with another meetup.

I'm knocking on wood as I type this, but the construction

[2022-06-30 13:04] jowtow commented on #29
An update on this, our building is still under construction (that's just the way it goes). Hopefully we can get something rolling in late July or early August. Construction seems to be getting pretty close, but we'll want to get familiar with the new space prior to the meetup. I'll update this issue when I know more!

[2022-07-19 16:49] hrkeni commented on #28
@taylorreece I'd be happy to speak or collaborate with you on something related to Docker and/or k8s if there is still any interest. We've built our whole backend on resolve.com with kubernetes/microservices and it has been a fantastic experience for us. I would be happy to share some knowledge here.
@arahja

[2022-07-19 17:01] arahja commented on #28
I gave an internal presentation on docker/kubernetes to people at Resolve. I could modify it and present if you want as well.

[2022-07-25 00:19] taylorreece commented on #28
@hrkeni @arahja at this point, I bet you two would be better suited than I to give a Docker/K8s talk. I don't have a direct hand in our Docker usage and Prismatic, and haven't done much with K8s in two years now.

[2022-07-25 12:00] aligneddev commented on #28
I could give a presentation on a following get together after this about different ways to run Containers in Azure, focusing on Azure App Containers. I was able to do some research and have an article up https://aligneddev.net/blog/2022/azure-app-containers/

[2022-07-25 16:21] hrkeni commented on #28
@aligneddev That's fantastic. I would recommend that for a lot of projects. The only reason we didn't use it was because it wasn't GA yet. This area is vast and has many options between all the cloud providers' products and CNCF projects, so we can try to present a series of talks that complement each other. I'm certainly open to collaboration here.

I also think a talk about DDD and how that play

[2022-10-06 14:00] jowtow commented on #29
Alright, it's been a minute since I updated this, but we are ready to set a date! I've got my talk all ready to go and right now we are thinking Thursday October 27th around 5:30pm would work well. Omnitech has also agreed to provide food (likely Pizza).

The topic has also changed a little bit. Instead of targeting .NET 6 and 7 specifically, I'd like to talk more about .NET as a whole. I'm callin

[2022-10-06 18:40] aligneddev commented on #28
@hrkeni or @arahja now that we have an October event scheduled, are you interested in talking about Docker/K8s in November or December? I think it'd be great to be able to have one every month for awhile.

I've been learning a lot about DDD and am thinking about that for a presentation myself (or Containers in Azure is another option)

[2022-10-06 19:45] arahja commented on #28
I have given an internal presentation on docker/k8s. I could polish up the presentation for this group if you want.

[2022-10-06 20:11] sclarson commented on #28
Sounds good to me. Where do we want to do it?

[2022-10-06 21:29] aligneddev commented on #28
@arahja do you work somewhere that would be willing to host it?
Otherwise we can help find a place

[2022-10-06 22:09] paulbenjamin3409 commented on #28
@aligneddev @arahja the library has meeting rooms with projectors which we can use.  I can call and whats available, if needed. Please let me know.

[2022-10-10 16:20] arahja commented on #28
@aligneddev @paulbenjamin3409 I work remotely, so I do not have a place off hand where my company could host.

[2022-10-13 14:09] aligneddev commented on #28
I'll ask around for a hosting location. The library still seems like a good option, but I'll ask first.

@arahja, we'd need a short description about you and a title with a description about the presentation.
Do you have some evenings 5:30 to 7 that would work for you in November (I have something the 14th, but besides Thanksgiving I don't have set plans)? Maybe Monday, Tuesday or Thursday?

[2022-10-13 14:23] Kwen commented on #28
Hosting at Raven Industries is always an option!

[2022-10-21 13:03] aligneddev commented on #28
Hi @arahja, I'm just checking in if you're up for giving your presentation in November.
@Kwen I think it'd be great to have it at Raven

[2022-10-21 20:21] aligneddev opened #30 "[PROPOSAL]: Clean Architecture and Domain Driven Development"
**Title**: Clean Architecture and Domain Driven Development

**Description**
Discuss Clean Architecture ideas from Uncle Bob's book and add in Domain Modeling Made Functional from Scott Wlaschin sprinkling in DDD and functional.

This is an updated version from the talk John Townsend and I gave at SD Code Camp 2019. https://aligneddev.net/blog/2019/clean-architecture-software-presentation/

**Requ

[2022-10-27 12:54] aligneddev commented on #28
@arahja It'd be great to hear back from you and what you think. Thanks!

[2022-11-28 17:19] joekepley opened #31 "Using Story Points to plan and estimate projects"
**Title**: Using Story Points for Estimation and Scheduling

**Description**
Story Points provide a way to estimate the complexity of dev work, rather than the time it takes, making estimates more portable and schedules more predictable.

We'll talk through how this process works, how it compares with traditional estimation, and our experiences in navigating the transition from traditional estimat

[2022-11-28 17:22] harmstyler commented on #31
@joekepley do you have a date in mind that would work well for you? And would you be the presenter?

[2022-11-29 16:03] arahja commented on #28
Hey @aligneddev, I got a little busy this month. Could we push this presentation to early December?

[2022-11-29 16:06] aligneddev commented on #28
No problems, @arahja. What are some days and times that work for you? Do you have an overview or description for the presentation?

If you give a few options, I can help find a location and we can get it scheduled or we have chatted about having a Saturday in February with a few sessions focused on containers. Yours would be a great way to start off the day.